.content-conatnier {
  max-width: 1085px;
  margin: auto;
}

.header-social-media {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  position: relative;
}

.header-social-media::before,
.header-social-media::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(30px);
  z-index: -1;
}

.header-social-media::before {
  left: 45%;
  top: 10%;
  transform: translate(-45%, -30%);
  background-color: rgba(255, 87, 34, 0.2);
}

.header-social-media::after {
  left: 55%;
  top: 50%;
  transform: translate(-55%, -50%);
  background-color: rgba(0, 173, 181, 0.2);
}

.header-social-media>div {
  display: flex;
}

.header-social-media>div>a>div,
.header-social-media div:nth-child(2) {
  padding: 1.5px;
  background: linear-gradient(282.23deg,
      #ff5722 1.77%,
      #ffffff 16.7%,
      #00adb5 31.93%);
}

.header-social-media>div>a>div>div,
.header-social-media div:nth-child(2)>div {
  background-color: #fff;
  padding: 15px;
}

.header-social-media>div:nth-child(1)>a>div,
.header-social-media>div:nth-child(1)>a>div>div {
  border-radius: 20px 13px 20px 20px;
}

.header-social-media>div:nth-child(2),
.header-social-media>div:nth-child(2)>div {
  border-radius: 20px;
}

.header-social-media>div:nth-child(2)>div {
  width: 133px;
  height: 133px;
  position: relative;
}

.header-social-media>div:nth-child(2)>div::after {
  content: url("../assets/svg/bag-services.svg");
  position: absolute;
  top: -30%;
  right: 40%;
}

.header-social-media>div:nth-child(2)>div>img {
  max-width: 170px;
  max-height: 155px;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-45%, 19%);
}

.header-social-media>div:nth-child(3)>a>div,
.header-social-media>div:nth-child(3)>a>div>div {
  border-radius: 13px 20px 20px 20px;
}

.header-social-media>div:nth-child(1),
.header-social-media>div:nth-child(3) {
  display: flex;
  gap: 15px;
}

.services-aboutus {
  margin-top: 110px;
}

.services-aboutus>div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-bottom: 130px;
}

.services-aboutus>div>img {
  max-width: 406px;
}

@media (min-width: 1280px) {
  .services-aboutus>div:nth-child(even) {
    flex-direction: row-reverse;
  }
}

@media (max-width: 1280px) {
  .services-aboutus>div {
    flex-direction: column-reverse;
    gap: 20px;
    margin-bottom: 60px;
  }

  .header-social-media>div:nth-child(1),
  .header-social-media>div:nth-child(3) {
    flex-direction: column;
  }

  .services-aboutus>div>img {
    max-width: 200px;
  }

  .section-title {
    margin-top: 40px;
  }

  .services-aboutus {
    margin-top: 50px;
  }
}